body {
    font-family: Arial;
    }
    
    .card-collection{
      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
    .card-img-top{
      height: 15em;
    }
    .standout{
        box-shadow: rgba(6, 2, 77, 0.887) 0px 0px 0px 2px;
    }
    h1,h2,h3,h4,h5,h6,p{
      text-align: center;
    }